@page
@model Turrist_agent.Pages.Putevkii.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Путёвки</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.data_nachala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.data_nachala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.data_okonchaniya)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.data_okonchaniya)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.prodolzhitelnost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.prodolzhitelnost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.kod_vida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.kod_vida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.kod_uslugi_1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.kod_uslugi_1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.kod_uslugi_2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.kod_uslugi_2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.kod_uslugi_3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.kod_uslugi_3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.kod_klienta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.kod_klienta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.kod_sotrudnika)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.kod_sotrudnika)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.otmetka_o_broni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.otmetka_o_broni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Putevki.otmetka_o_oplate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Putevki.otmetka_o_oplate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Putevki.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад к списку</a>
    </form>
</div>
