@page
@model Turrist_agent.Pages.Types_of_otdikha.IndexModel

@{
    ViewData["Title"] = "Виды отдыха";
}

<h1>Список видов</h1>

<p>
    <a asp-page="Create">Добавить новый вид</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Types_of_otdizha[0].Naimenovanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types_of_otdizha[0].Ogranicheniya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types_of_otdizha[0].Opisanie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Types_of_otdizha) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naimenovanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ogranicheniya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opisanie)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
